@import '../../assets/styles/mixins';

.about-banner{
    min-height: 65vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    object-fit: contain;
  }